.recipe-prepping  {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 0px;
   padding: 0px 150px 20px 150px;
}

.recipe_detail_container h1 {
   color: #5D9C59;
}

.recipe_detail_container button {
   background-color: #C3E2C2;
   color: #000;
}

.recipe_detail_container button:hover {
   color: #FF5B22;
}

.recipe_detail_container {
   padding: 3em;
}

.ingredients {
   margin-top: 50px;
}

.recipe_detail_container h3 {
   color: darkorange;
}